{% extends 'projects/base.html' %}

{% load static %}

{% block navbar_class %}
bg-white sticky-top custom-sticky-navbar
{% endblock navbar_class %}

<style>
    .profile {
        height: 150px;
        font-size: 500px;
    }

    @media (max-width:576px) {
        .profile {
            height: 90px;
            font-size: large;
        }
    }

    @media (min-width: 577px) and (max-width: 768px) {
        .profile {
            height: 120px;
            font-size: x-large;
        }
    }

    /* Large screens */
    @media (min-width: 769px) and (max-width: 992px) {
        .profile {
            height: 140px;
            font-size: x-large;
        }
    }
</style>


{% block content %}
<section class="py-3 py-md-5">
    <div class="container">
        <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
            <div class="col-12 col-lg-6 col-xl-5">
                <img class="img-fluid rounded" loading="lazy" src="{% static '../media/team.jpg' %}" alt="About 1">
            </div>
            <div class="col-12 col-lg-6 col-xl-7">
                <div class="row justify-content-xl-center">
                    <div class="col-12 col-xl-11">
                        <h2 class="mb-3">Who Are We?</h2>
                        <p>URL Name: {{ request.resolver_match.url_name }}</p>
                        <p class="lead fs-4 text-secondary mb-3">an Egyptian company working primarily in medium size
                            real estate development projects. In addition, a portfolio of related construction services
                            with commitment to provide high quality and professional services in its field.</p>
                        <p class="mb-5">Akhnaton was/is engaged in several construction contracts for individuals and
                            manufacturers we provide quality services and reliability which are the most two important
                            parameters needed in the Egyptian market. A team of young, energetic, and high - educated
                            managers (and owner) is heading the company.</p>
                        <div class="row gy-4 gy-md-0 gx-xxl-5X">
                            <div class="col-12 col-md-6">
                                <div class="d-flex">
                                    <div class="me-4 text-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                            fill="currentColor" style="color: orangered;" class="bi bi-gear-fill"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <h2 class="h4 mb-3">Versatile Brand</h2>
                                        <p class="text-secondary mb-0">We are crafting a digital method that subsists
                                            life across all mediums.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="d-flex">
                                    <div class="me-4 text-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                            fill="currentColor" style="color: rgb(244, 144, 13);" class="bi bi-fire"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <h2 class="h4 mb-3">Digital Agency</h2>
                                        <p class="text-secondary mb-0">We believe in innovation by merging primary with
                                            elaborate ideas.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Karim khawam -->
<section class="py-3 py-md-5">
    <div class="container">
        <div class="row">
            <!-- Image Column -->
            <div class="kimg col-12 col-md-6 col-lg-6 col-xl-5 col-xxl-5 order-1 order-md-2 mb-4 mx-xl-5">
                <div class="card ">
                    <img src="{% static '../media/karim.jpg' %}" height="550px" class="card-img-top rounded-1 "
                        alt="Karim M. Khawam">
                    <div class="card-body py-2" style="background-color: rgb(207, 203, 203);">
                        <h6 class="card-title text-center text-black m-0" style="font-weight: 600;">Karim M. Khawam</h6>
                    </div>
                </div>
            </div>
            <!-- Text Column -->
            <div class="col-12 col-md-6 col-lg-6 col-xl-5 order-2 order-md-1">
                <div class="row">
                    <div class="col-12">
                        <h3><i class="fas fa-star"></i> Akhnaton For Construction & Real-Estate Development ACRED was
                            founded in 1995,<br> by Architect
                            <b class="text-black"><i><a href="#" class="text-black">Karim M. Khawam.</a></i></b>
                        </h3>
                        <br>
                        <h3>
                            <i class="fas fa-helmet-safety"></i> Akhnaton has acquired the experience to accomplish and
                            successfully face the challenges of large multi – disciplined projects to provide a
                            significant international expertise achieving professional client satisfaction.
                        </h3>
                        <br>
                        <h4><i class="far fa-clock"></i>
                            Over the years, we've built a reputation for quality, innovation, and client-focused
                            solutions.
                        </h4>
                        <br>
                        <h3><i class="fas fa-file-lines"></i> Would you like to explore our portfolio and see what we’ve
                            built?</h3>
                        <br>
                    </div>

                    <!-- Button Row -->
                    <div class="col-12">
                        <div class="d-grid gap-2">
                            <a class="profile btn btn-warning rounded-5" href="{% url 'company-profile' %}">Akhnaton
                                portfolio <i class="fas fa-angles-down"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- message from akhanton owner -->
<section>
    <div class="container">
        <div class="row justify-content-center" style="font-size: xx-large; color: black;font-weight: 900;">
            Message From The Owner
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <hr style="border: 5px solid rgb(220, 181, 7);opacity: 9;">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-9">
                <div class="card" style="background-color: rgb(253, 232, 70);">
                    <div class="card-body" style="text-align: center;">
                        Akhnaton For Construction & Real-Estate Development ACRED, was established in the spirit of
                        providing a broad spectrum of Real Estate and Construction competencies.

                        To be able to proliferate our products and services with unparalleled quality, we surrounded our
                        company and ourselves with a framework of business principles and solid market insights.

                        Business principles emphasize commitment to long-term interests of our clients by giving them
                        the benefit of the breadth of our capabilities as well as our most creative thinking. We take
                        great pride in the professional quality of our work. We have an uncompromising determination to
                        achieve excellence in everything we undertake. We stress creativity and imagination in
                        everything we do. We always operate with the belief that our reputation for fair dealing is our
                        greatest asset. We are committed to maintain the highest standards of conduct; integrity and
                        honesty at the heart of our business.

                        We realize that our business is highly competitive and the market is aggressively dynamic. We
                        constantly strive to anticipate the rapidly changing needs of our clients and to develop new
                        products and services to meet those needs. We admit that this market will not stand still and
                        that complacency can lead to extinction.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<section class="mt-5">
    <div class="container">
        <div class="row justify-content-center" style="font-size: 50px; color: black; font-weight: 900;">
            <div style="color: rgb(118, 31, 7); text-align: center;">
                Time Line
            </div>
        </div>
    </div>
    <div class="mb-5">
        {% include 'projects/timeline.html' %}
    </div>
</section>

<section>
    <div class="container">
        <div class="row justify-content-center" style="font-size: xx-large; color: black;font-weight: 900;">
            <div class="row justify-content-center">
                <h1 style="text-align: center;background: linear-gradient(red, blue);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;"><span><i class="fas fa-star"></i></span>. In Akhnatonco We Love Our Work
                    .<span><i class="fas fa-star"></i></span>
                </h1>
            </div>

        </div>
    </div>
</section>

{% endblock content %}


{% block social %}
<!-- Facebook -->
<a data-mdb-ripple-init class="btn btn-primary" style="background-color: #3b5998;"
    href="https://www.facebook.com/profile.php?id=100054644430517" target="_blank" role="button"><i
        class="fab fa-facebook-f"></i></a>
<!-- Google -->
<a data-mdb-ripple-init class="btn btn-primary" style="background-color: #dd4b39;" href="https://www.akhnatonco.com"
    target="_blank" role="button"><i class="fab fa-google"></i></a>

<!-- Linkedin -->
<a data-mdb-ripple-init class="btn btn-primary" style="background-color: #0082ca;"
    href="https://www.linkedin.com/company/akhnaton-for-construction-and-real-estate-development/" target="_blank"
    role="button"><i class="fab fa-linkedin-in"></i></a>

<!-- Youtube -->
<a data-mdb-ripple-init class="btn btn-primary" style="background-color: #ed302f;"
    href="https://www.youtube.com/@akhnaton-j4p" target="_blank" role="button"><i class="fab fa-youtube"></i></a>

<!-- Whatsapp -->
<a data-mdb-ripple-init class="btn btn-primary" style="background-color: #25d366;" href="https://wa.me/201022207319"
    target="_blank" role="button"><i class="fab fa-whatsapp"></i></a>

<br><br>
{% endblock social %}