{% extends 'projects/base.html' %}
{% load static %}

{% block navbar_class %}
navbar-dark bg-white sticky-top custom-sticky-navbar
{% endblock navbar_class %}


{% block content %}
<style>
    .gallery-wrapper {
        position: relative;
    }

    .thumbnails {
        display: flex;
        overflow-x: auto;
        gap: 10px;
        scroll-behavior: smooth;
    }

    .thumbnails img {
        cursor: pointer;
        max-height: 100px;
    }

    .arrow {
        position: absolute;
        top: 35%;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px;
        z-index: 10;
        cursor: pointer;
    }

    .arrow-left {
        left: -10px;
    }

    .arrow-right {
        right: -10px;
    }

    .main-image {
        width: 100%;
        /* تشغل 100% من عرض الحاوية */
        max-width: 700px;
        /* ولا تتجاوز 700px على الشاشات الكبيرة */
        height: auto;
        /* ارتفاع تلقائي للحفاظ على النسب */
        max-height: 800px;
        /* تحديد حد أقصى للارتفاع إذا رغبت */
    }
</style>

<div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center mt-4">
                <h1 style="color: orange;font-weight: 900;"><i class="far fa-gem" style="color: rgb(223, 179, 3);"></i>
                    Certificates of Appreciation <i class="far fa-gem" style="color:  rgb(223, 179, 3);"></i></h1>
            </div>
        </div>
        <!-- Main Image -->
        <div class="row justify-content-center">
            <div class="col-12 text-center" style="margin-bottom: -100px;">
                <img id="mainImage" src="{% static '../media/cer1.jpg' %}" class="main-image" alt="Main" />
            </div>
        </div>


        <!-- Thumbnails with arrows -->
        <div class="gallery-wrapper">
            <button class="arrow arrow-left" onclick="scrollThumbnails(-200)">&#8592;</button>
            <div id="thumbnailsContainer" class="thumbnails px-5">
                <img src="{% static '../media/cer1.jpg' %}" onclick="changeMain(this)" />
                <img src="{% static '../media/cer2.jpg' %}" onclick="changeMain(this)" />
                <img src="{% static '../media/cer3.jpg' %}" onclick="changeMain(this)" />
                <img src="{% static '../media/cer4.jpg' %}" onclick="changeMain(this)" />
                <img src="{% static '../media/cer5.jpg' %}" onclick="changeMain(this)" />
                <img src="{% static '../media/cer6.jpg' %}" onclick="changeMain(this)" />
                <img src="{% static '../media/cer7.jpg' %}" onclick="changeMain(this)" />
                <img src="{% static '../media/cer8.jpg' %}" onclick="changeMain(this)" />
                <img src="{% static '../media/cer9.jpg' %}" onclick="changeMain(this)" />
                <img src="{% static '../media/cer10.jpg' %}" onclick="changeMain(this)" />
                <img src="{% static '../media/cer11.jpg' %}" onclick="changeMain(this)" />
                <img src="{% static '../media/cer12.jpg' %}" onclick="changeMain(this)" />
                <img src="{% static '../media/cer13.jpg' %}" onclick="changeMain(this)" />
                <img src="{% static '../media/cer14.jpg' %}" onclick="changeMain(this)" />
                <img src="{% static '../media/cer15.jpg' %}" onclick="changeMain(this)" />
                <img src="{% static '../media/cer16.jpg' %}" onclick="changeMain(this)" />
                <img src="{% static '../media/cer17.jpg' %}" onclick="changeMain(this)" />
                <img src="{% static '../media/cer18.jpg' %}" onclick="changeMain(this)" />
                <img src="{% static '../media/cer19.jpg' %}" onclick="changeMain(this)" />
                <img src="{% static '../media/cer20.jpg' %}" onclick="changeMain(this)" />
                <!-- Add more images if needed -->
            </div>
            <button class="arrow arrow-right" onclick="scrollThumbnails(200)">&#8594;</button>
        </div>
    </div>
</div>



<script>
    function changeMain(img) {
        const mainImage = document.getElementById("mainImage");
        mainImage.src = img.src;
    }

    function scrollThumbnails(amount) {
        const container = document.getElementById("thumbnailsContainer");
        container.scrollLeft += amount;
    }
</script>
{% endblock content %}