{% extends 'projects/base.html' %}
{% load static %}

{% block navbar_class %}
navbar-dark bg-white sticky-top custom-sticky-navbar
{% endblock navbar_class %}


{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-5 text-center">
            <h1 class="my-4"
                style="color: rgb(232, 164, 17);font-weight: bolder;background-color: rgb(253, 250, 185);border-radius: 25px;">
                Our Consultants
            </h1>
        </div>

        <div class="col-12 col-md-12 col-lg-12 my-5">
            <h1 style="font-weight: 900;background: linear-gradient(orange, black);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;">Featured Consultants</h1>
            <hr class="hr" style="width: 450px;border: 5px solid orange;font-weight: 900;">
        </div>
        <div class="row ">
            <div class="col-4 col-md-3 col-lg-2 mb-4 text-center">
                <img src="{% static '../media/coming.jpg' %}" class="img-fluid rounded shadow" alt="">
            </div>
            <div class="col-4 col-md-3 col-lg-2 mb-4 text-center">
                <img src="{% static '../media/con-2.jpg' %}" class="img-fluid rounded shadow" alt="">
            </div>
            <div class="col-4 col-md-3 col-lg-2 mb-4 text-center">
                <img src="{% static '../media/con-3.jpg' %}" class="img-fluid rounded shadow" alt="">
            </div>
            <div class="col-4 col-md-3 col-lg-2 mb-4 text-center">
                <img src="{% static '../media/con-4.jpg' %}" class="img-fluid rounded shadow" alt="">
            </div>
            <div class="col-4 col-md-3 col-lg-2 mb-4 text-center">
                <img src="{% static '../media/con-5.jpg' %}" class="img-fluid rounded shadow" alt="">
            </div>
            <div class="col-4 col-md-3 col-lg-2 mb-4 text-center">
                <img src="{% static '../media/con-6.jpg' %}" class="img-fluid rounded shadow" alt="">
            </div>
            <div class="col-4 col-md-3 col-lg-2 mb-4 text-center">
                <img src="{% static '../media/con-7.jpg' %}" class="img-fluid rounded shadow" alt="">
            </div>
            <div class="col-4 col-md-3 col-lg-2 mb-4 text-center">
                <img src="{% static '../media/con-8.jpg' %}" class="img-fluid rounded shadow" alt="">
            </div>
            <div class="col-4 col-md-3 col-lg-2 mb-4 text-center">
                <img src="{% static '../media/con-9.jpg' %}" class="img-fluid rounded shadow" alt="">
            </div>
            <div class="col-4 col-md-3 col-lg-2 mb-4 text-center">
                <img src="{% static '../media/con-10.jpg' %}" class="img-fluid rounded shadow" alt="">
            </div>
            <div class="col-4 col-md-3 col-lg-2 mb-4 text-center">
                <img src="{% static '../media/con-11.jpg' %}" class="img-fluid rounded shadow" alt="">
            </div>
        </div>

        <div class="col-12 col-md-12 col-lg-12 my-5 text-center">
            <table class="table">
                <thead class="table" style="background-color: orange;">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Telephone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Elite Consolidated Engineers (ECE)</th>
                        <td>10 Obour Buildings, Salah Salem Road,Heliopolis, Cairo, Egypt.</td>
                        <td>22637227</td>
                    </tr>
                    <tr>
                        <th scope="row">Medhat Abou Zeid, Egyption consulting house(MZECH)</th>
                        <td>Nile tower 21-23 Giza St.,Giza, Egypt.</td>
                        <td> 35701627-35701628</td>

                    </tr>
                    <tr>
                        <th scope="row">Hussien Sabbour consultant office</th>
                        <td> 4 , 4A el Bahr St., Corniche El Nile Boulak, Arkadia Mall, Cairo, Egypt.</td>
                        <td> 25792960-25807600</td>

                    </tr>
                    <tr>
                        <th scope="row">EGY-Tech Group</th>
                        <td> 95 Gomhoria st., Abdeen, Cairo, Egypt.</td>
                        <td>25902517</td>

                    </tr>
                    <tr>
                        <th scope="row">Cosmos-E engineers & consultant</th>
                        <td> 23 Mohamed Aly El Bakly st., El Hejaz, Heliopolis, Cairo, Egypt.</td>
                        <td>26343729-26370329</td>

                    </tr>
                    <tr>
                        <th scope="row">ASA Consultants</th>
                        <td> 8 Sebaweh El Masry St., Nasr city, Cairo, Egypt.</td>
                        <td> 2627877</td>
                    </tr>
                    <tr>
                        <th scope="row">Arab Consulting Engineers (Moharram Bakhoum)</th>
                        <td> 5 El- Gomhoria El Mottaheda Sq. or 2 Champollion st.,Cairo, Egypt</td>
                        <td> 33377120-25744876</td>
                    </tr>
                    <tr>
                        <th scope="row">Wassef Design Office</th>
                        <td> 53 Noubar St., Bab El Louk, Cairo, Egypt.</td>
                        <td> 27955215</td>
                    </tr>
                    <tr>
                        <th scope="row">Interior Nader Arnaout Design & consulting</th>
                        <td> 4 lebnon St., Mohandessin, Cairo, Egypt.</td>
                        <td>33029967</td>

                    </tr>
                    <tr>
                        <th scope="row">Shehab A. Mazher Architects</th>
                        <td>3 El-Gomhoria Sq., El Mohandessin, Giza, Egypt.</td>
                        <td>37603474</td>
                    </tr>
                    <tr>
                        <th scope="row">Dr. Sabry Samaan Consulting Office</th>
                        <td>13 Kaser El Nile St., Downtown, Cairo, Egypt.</td>
                        <td> 25740213</td>
                    </tr>
                    <tr>
                        <th scope="row">Structural Consulting Center S.C.C. Dr. Saied Taher</th>
                        <td> 60 A Soliman Gohar St, Cairo, Egypt.</td>
                        <td>33370630</td>
                    </tr>
                    <tr>
                        <th scope="row">PUD Consultanting office Dr.Amer Attia</th>
                        <td> 23 Mohamed Aly El Bakly st., El Hejaz, Heliopolis, Cairo, Egypt.</td>
                        <td> 26391861-26392296</td>
                    </tr>
                    <tr>
                        <th scope="row">97 Design studio</th>
                        <td> Private</td>
                        <td> Private</td>
                    </tr>
                    <tr>
                        <th scope="row">Nasr Consultant (Dr. Mahmoud Nasr)</th>
                        <td> 2 El lokanda, Heliopolis, Cairo, Egypt.</td>
                        <td>24146533</td>
                    </tr>
                    <tr>
                        <th scope="row">Sites International-Landscape consultant Dr. Maher Stino</th>
                        <td> 3 Behler St., Cairo, Egypt.</td>
                        <td> 23934100</td>
                    </tr>
                    <tr>
                        <th scope="row">-MHDH-Mona Hussein Design House</th>
                        <td> New Cairo.</td>
                        <td>Private</td>
                    </tr>
                    <tr>
                        <th scope="row">Cairo Consultant</th>
                        <td>Polygon Business Park, Building3. The Waterway Compound, W Mall Building B</td>
                        <td>Private</td>
                    </tr>
                    <tr>
                        <th scope="row">ECG-Engineering Consultants Group</th>
                        <td> 9 EL Bosta St., EL Korba , Cairo, Egypt.</td>
                        <td> 24180866</td>
                    </tr>
                    <tr>
                        <th scope="row">Structural Consulting Center S.C.C. Dr. Saied Taher</th>
                        <td> El Sefarat District, Building 2, Block 10, Nasr City Cairo, Egypt.</td>
                        <td> 2274 47 40</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}