{% extends 'projects/base.html' %}
{% load static %}



{% block navbar_class %}
navbar-dark bg-white sticky-top custom-sticky-navbar
{% endblock navbar_class %}




<br>
<br>
<br>
<br>

{% block content %}
<br>


<div class="row">
    <div class="col-md-10" style="font-size: xx-large;">
        <div class="container">

        </div>

    </div>


    <div class="col-md-2">
        <a href="{% url 'add_project' %}" class="btn btn-warning">Add Project</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <h1 style="color: rgb(53, 55, 17);text-align: center;font-family:Stencil Std, fantasy;">
            Akhnatonco Projects
        </h1>
        {% for project in projects %}

        <div class="col-sm-3">
            <div class="card">
                <img src="{{ project.titleImage.url  }}" width="400px" height="300px" class="card-img-top mt-4"
                    alt="Fissure in Sandstone" />
                <div class="card-body">
                    <h5 class="card-title">{{ project.name }}</h5>
                    <div class="d-grid gap-2">
                        <a class="btn btn-warning" type="button" href="{% url 'project_detail' project.id %}"
                            data-mdb-ripple-init>View Project</a>
                        <a class="btn btn-dark" type="button" href="{% url 'edit_project' project.id %}"
                            data-mdb-ripple-init>Edit Project</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <h1 class="mb-5">There is No Projects Yet </h1>
        <a href="{% url 'add_project' %}" class="btn btn-warning">Add Project</a>
        {% endfor %}

    </div>
</div>


{% endblock content %}