{% extends 'projects/base.html' %}
{% load static %}

{% block navbar_class %}
navbar-dark bg-white sticky-top custom-sticky-navbar
{% endblock navbar_class %}



{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-5 text-center">
            <h1 class="my-4"
                style="color: rgb(232, 164, 17);font-weight: bolder;background-color: rgb(253, 250, 185);border-radius: 25px;">
                Sub-Contractors
            </h1>
        </div>
    </div>
    <div class="row justify-content-start align-items-lg-stretch">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex my-5">
            <div class="card text-bg-light mb-3 w-100 h-100">
                <div class="card-header" style="font-size: x-large;">A. Electrical Works:</div>
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Electrical Engineering
                        Office "EEO",</h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> "Gefeco" for Electrical
                        Contracting.</h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> "ABB" Arab contractors
                        for electrical
                        industries.</h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> “UEC” United Electrical
                        Company.</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex my-5">
            <div class="card text-bg-dark mb-3 w-100 h-100">
                <div class="card-header" style="font-size: large;">B. Heating, Ventilation and Air Conditioning
                    Works:</div>
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Engineering for Modern
                        Air-Conditioning
                        "Modair".
                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> El Nada Air-condition Co.
                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> "HVAC" Mechanical &
                        Electrical Contracting.</h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Mina Egypt Co. for
                        Air-condition.
                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Kermina for Trading &
                        Construction.
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex my-5">
            <div class="card text-bg-dark mb-3 w-100 h-100">
                <div class="card-header" style="font-size: large;">C. Plumbing and Fire Fighting Works.</div>
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> "Delta" for Contractor &
                        Sub.

                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> "Pro-tec" for
                        firefighting works.</h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Bavaria.

                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> "HRMMS" Engineering &
                        Trading.</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex my-5">
            <div class="card text-bg-light mb-3 w-100 h-100">
                <div class="card-header" style="font-size: xx-large;">D. Glass works.</div>
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Egyptian Company for
                        Glass Technolog
                        "Dr.Greiche".</h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Top Glass.
                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Egyglass.</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex my-5">
            <div class="card text-bg-light mb-3 w-100 h-100">
                <div class="card-header" style="font-size: x-large;">E. Security Works.</div>
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> "KYR"for Supplying and
                        Installing Equipment</h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Audio Technology Company
                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Future Crow Communication
                        System industries.
                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Al Arabia for System.
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex my-5">
            <div class="card text-bg-dark mb-3 w-100 h-100">
                <div class="card-header" style="font-size: large;">F. Fixed Furniture – partitions – Wooden Doors.</div>
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Dimension.</h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Riadco for furniture and
                        Office Designs.</h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Wood and Plexi home and
                        office furniture.</h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Contact Interiors.</h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Williams</h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Artec office furniture.
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex my-5">
            <div class="card text-bg-dark mb-3 w-100 h-100">
                <div class="card-header" style="font-size: large;">G. Brass and Stainless Steel Works.</div>
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> BASCO</h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Kampo Steel.</h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Uni-tech.</h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Depa</h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Garo</h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Fabries</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex my-5">
            <div class="card text-bg-light mb-3 w-100 h-100">
                <div class="card-header" style="font-size: xx-large;"> H. Marble and Granite Works.</div>
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Marmonile.</h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> UMG Contractors.</h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Concept for Marble &
                        Granite.</h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Limestone Co.</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex my-5">
            <div class="card text-bg-light mb-3 w-100 h-100">
                <div class="card-header" style="font-size: x-large;">I. Aluminium works & Curtain Walls.
                </div>
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Nile –Aluminium and
                        Metals Company (Alunile).
                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Egybel for trading and
                        distribution.
                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Contact Interiors.
                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Shoko</h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Standard Aluminum
                        Company.
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex my-5">
            <div class="card text-bg-dark mb-3 w-100 h-100">
                <div class="card-header" style="font-size: large;">J. Elevators Works.</div>
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Mitsubishi Company.

                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> UFTAS
                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> OTIS</h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Marryat and Scott Egypt.

                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Melco- Mec Egypt for
                        Escalators & Elevators.

                    </h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex my-5">
            <div class="card text-bg-dark mb-3 w-100 h-100">
                <div class="card-header" style="font-size: large;">K. Light Current Works.
                </div>
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Engineering System
                        Company "ESC".

                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Electrical Engineering
                        Office "EEO".
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex my-5">
            <div class="card text-bg-light mb-3 w-100 h-100">
                <div class="card-header" style="font-size: xx-large;">L. Gypsum board / False Ceiling.
                </div>
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Futec</h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Eng. Khaled Hassan.

                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Golden Metal</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex my-5">
            <div class="card text-bg-light mb-3 w-100 h-100">

                <div class="card-header" style="font-size: large;">M. Earth & Piling Works.
                </div>
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> American Egyptian
                        Company.

                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Ahmed Motawea Company for
                        Foundations.
                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Otak for trading and
                        contracting intelligent design.
                    </h5>
                </div>

            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex my-5">
            <div class="card text-bg-dark mb-3 w-100 h-100">
                <div class="card-header" style="font-size: x-large;">N. Reinforced Concrete work
                </div>
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Ready Mix.
                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Cemix</h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Decom</h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Ceasor's Team For
                        Contracting.
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex my-5">
            <div class="card text-bg-dark mb-3 w-100 h-100">
                <div class="card-header" style="font-size: large;">Q. Wood works.
                </div>
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Hard Wood Factory.
                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> The German Company for
                        HDF.
                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Bavaria.

                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> "HRMMS" Engineering &
                        Trading.</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex my-5">
            <div class="card text-bg-light mb-3 w-100 h-100">
                <div class="card-header" style="font-size: xx-large;">R. Reinforcing Bars work.</div>
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Ezz El Dekhala.
                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Beshay Factory for
                        steel work.</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex my-5">
            <div class="card text-bg-light mb-3 w-100 h-100">
                <div class="card-header" style="font-size: x-large;">S. Door works.
                </div>
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> International company for
                        automatic doors.
                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Alfamatic for automatic
                        doors.
                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Quantum</h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Nagiub Panel Fold.</h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Mondoor</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex my-5">
            <div class="card text-bg-dark mb-3 w-100 h-100">
                <div class="card-header" style="font-size: large;">T. Scaffold works.
                </div>
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Marina for Platforms.
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex my-5">
            <div class="card text-bg-dark mb-3 w-100 h-100">
                <div class="card-header" style="font-size: large;">U. Wall Finish works.
                </div>
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Merryland International
                        corporation.
                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Jotun</h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Scib

                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Sipes.</h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> In-Trade Company for
                        Chemicals.
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex my-5">
            <div class="card text-bg-light mb-3 w-100 h-100">
                <div class="card-header" style="font-size: xx-large;">V. Insulation works.
                </div>
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> El Nile Water Proofing
                        Materials Company.
                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Huntsman Company.

                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Modern Company.
                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Master Chemical
                        Technology.

                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Intrade Company for
                        Chemicals.

                    </h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex my-5">
            <div class="card text-bg-light mb-3 w-100 h-100">
                <div class="card-header" style="font-size: x-large;">W. Signage works.
                </div>
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Art Brand Agency.
                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Aknaton for advertising.
                    </h5>
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Sight Company for
                        advertising.
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex my-5">
            <div class="card text-bg-dark mb-3 w-100 h-100">
                <div class="card-header" style="font-size: large;">X. MEP.
                </div>
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-check" style="color: orange;"></i> Barco (MEP).

                    </h5>
                </div>
            </div>
        </div>
    </div>


    <!-- <div class="col-12 col-md-12 col-lg-7 text-center">
            <p class="lead">
                <i class="fas fa-map-marker-alt"></i> 1234567890, India
            </p>
            <p class="lead">
                <i class="fas fa-envelope"></i> info@example.com
            </p>
            <p class="lead">
                <i class="fas fa-phone"></i> +1234567890
            </p>
        </div> -->
</div>
</div>
{% endblock content %}