{% extends 'projects/base.html' %}
{% load static %}

{% block navbar_class %}
navbar-dark bg-white sticky-top custom-sticky-navbar
{% endblock navbar_class %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-5 text-center">
            <h1 class="mt-4"
                style="color: rgb(4, 94, 71);font-weight: bolder;background-color: rgb(253, 250, 185);border-radius: 25px;">
                Our Equipment, &
                Tools
            </h1>
        </div>
        <div class="col-12 col-md-12 col-lg-12 text-center">
            <img src="{% static 'projects/tools.jpg' %}" alt="Tools" class="img-fluid my-5"
                style="max-width: 100%; height: auto;">
        </div>
        <div class="col-12 col-md-12 col-lg-12 my-5 text-center">
            <h1 style="font-weight: 900;color: black;">Fleet</h1>
            <table class="table">
                <thead class="table" style="background-color: orange;">
                    <tr>
                        <th scope="col">COUNT</th>
                        <th scope="col">CAR</th>
                        <th scope="col">COUNT</th>
                        <th scope="col">CAR</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>BMW 525i model 2008</td>
                        <td>1</td>
                        <td> Hyundai Viva model 2008</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Renault model 2005</td>
                        <td>1</td>
                        <td>Hyundai Accent 1300</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Hyundai Accent model 2006</td>
                        <td>1</td>
                        <td> Lada model 2007</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td> Chevrolet pickup model 2000</td>
                        <td>1</td>
                        <td>Renault Logan model 2009</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td> Land Rover model 2010</td>
                        <td>1</td>
                        <td>Hyundai Verna</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td> Skoda Verlina</td>
                        <td>1</td>
                        <td> Chevrolet Optra</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td> Hyundai Verna model 2012</td>
                        <td>1</td>
                        <td>Nissan Pickup double cabin</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td> Diesel Chevrolet pickup</td>
                        <td>1</td>
                        <td>Geely model 2014</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td> Cherokee</td>
                        <td>1</td>
                        <td>Mercedes</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td> Nissan double cabin</td>
                        <td>3</td>
                        <td>Hyundai Verna model 2018</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Carry 8 passengers</td>
                        <td>1</td>
                        <td>Tiggo Manual</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td> Ariza Automatic</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 col-md-12 col-lg-12 my-5 text-center">
            <h1 style="font-weight: 900;color: black;">Furniture</h1>
            <table class="table">
                <thead class="table" style="background-color: orange;">
                    <tr>
                        <th scope="col">COUNT</th>
                        <th scope="col">ITEM</th>
                        <th scope="col">COUNT</th>
                        <th scope="col">ITEM</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">7</th>
                        <td>140 cm metal legged desk with chair</td>
                        <td>3</td>
                        <td> Smart chair</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Softline drawers unit (3 drawers)</td>
                        <td>1</td>
                        <td>Softline bookcase</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Rich concord chair</td>
                        <td>6</td>
                        <td> Shelf storage unit double doors</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 col-md-12 col-lg-12 my-5 text-center">
            <h1 style="font-weight: 900;color: black;">Computers & Software</h1>
            <table class="table">
                <thead class="table" style="background-color: orange;">
                    <tr>
                        <th scope="col">COUNT</th>
                        <th scope="col">ITEM</th>
                        <th scope="col">COUNT</th>
                        <th scope="col">ITEM</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">lot</th>
                        <td> Lenovo laptops</td>
                        <td>lot</td>
                        <td> PC computers</td>
                    </tr>
                    <tr>
                        <th scope="row">lot</th>
                        <td> Printers</td>
                        <td>lot</td>
                        <td> Microsoft Accounting ERP</td>
                    </tr>
                    <tr>
                        <th scope="row">lot</th>
                        <td> Samsung Monitors</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 col-md-12 col-lg-12 my-5 text-center">
            <h1 style="font-weight: 900;color: black;">Survey & Office Equipment</h1>
            <table class="table">
                <thead class="table" style="background-color: orange;">
                    <tr>
                        <th scope="col">COUNT</th>
                        <th scope="col">ITEM</th>
                        <th scope="col">COUNT</th>
                        <th scope="col">ITEM</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">4</th>
                        <td> Nikon Japanese levelling device</td>
                        <td>2</td>
                        <td>Sokia levelling device</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Total Station</td>
                        <td>1</td>
                        <td>Caravan 3 X 7.5 m 2 rooms + bath</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Caravan 3 X 7 m 2 rooms + bath</td>
                        <td>1</td>
                        <td> Sharp photocopy</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 col-md-12 col-lg-12 my-5 text-center">
            <h1 style="font-weight: 900;color: black;">Construction Equipment</h1>
            <table class="table">
                <thead class="table" style="background-color: orange;">
                    <tr>
                        <th scope="col">COUNT</th>
                        <th scope="col">ITEM</th>
                        <th scope="col">COUNT</th>
                        <th scope="col">ITEM</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">lot</th>
                        <td> Metal scaffolding</td>
                        <td>lot</td>
                        <td>Swedish formwork wood</td>
                    </tr>
                    <tr>
                        <th scope="row">lot</th>
                        <td>Honda generator 6.5 KW</td>
                        <td>lot</td>
                        <td> Robin lift</td>
                    </tr>
                    <tr>
                        <th scope="row">lot</th>
                        <td>Thio soil compactor</td>
                        <td>lot</td>
                        <td>Robin concrete vibrators</td>
                    </tr>
                    <tr>
                        <th scope="row">lot</th>
                        <td> Grinders, drills, & Hilti</td>
                        <td>1</td>
                        <td> Solis agricultural tractor</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td> Long 6 meters truck</td>
                        <td>1</td>
                        <td>Mobile water truck 5 m3</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td> Steel bender</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}